.profile-container {
    padding: 10px;
    /* width: 50%; */
    /* align-self: center; */
    height: 50vh;
    position: relative;
    /* border: 1px solid red; */
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    

}

.profile {
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    /* align-items: center; */
}

.profile-part-1{
    /* flex: 9 9 90%; */
    flex: 7 7 70%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px solid red; */
}

.profile-heading {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:  rgb(255,195,65);

    padding: 10px;
    /* border: 1px solid black; */
    margin-left: 10px;
}

.profile-me{
    /* font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(230, 224, 224);
    padding: 10px;
    border: 1px solid red; */

    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    /* border: 1px solid black; */



    /* margin-top: 20px; */
    /* text-align: flex-start; */
}

.profile-me-extended-box {
    width: 50%;
    /* border: 1px solid royalblue; */
}

.profile-me-extended {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(230, 224, 224);
    padding: 10px;
    opacity: 0.5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

.profile-part-2 {
    /* flex: 10 10 10%; */
    flex: 3 3 30%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    /* border: 1px solid red; */
    padding: 10px;
}

.my-button {
    border: 1px solid rgb(255, 198, 76);
    border-radius: 4px;
    height: 60px;
    width: 15%;
    background: inherit;
    color:  rgb(255,195,65);
    font-size: 20px;
    margin-left: 10px;
    outline: none;
    transition: all ease-in-out 0.3s;
}
.my-button-2 {
    border: 1px solid rgb(255, 198, 76);
    border-radius: 4px;
    height: 60px;
    width: 15%;
    background: inherit;
    color:  rgb(200,200,200);
    font-size: 20px;
    margin-left: 30px;
    outline: none;
    transition: all ease-in-out 0.3s;
}

.my-button:hover{
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    transform: scale(1.045);
}

.my-button-2:hover {
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    transform: scale(1.045);
}