.preloader-config{
    height: 100vh;
    width: 100vw;
    overflow:hidden;
}

.pre-loader-left{ 
    position: absolute;
    background: rgb(63, 63, 52);
    height: 100vh;
    width: 50vw;
    z-index: 10000;
    top:0;
    left:0;
}

.preloader-left-img{
    position: absolute;
    right: 0;
    height: 200px;
    width: 200px;
    top: 30%;
}
.remove-left{
    margin-left: -60vw;
    transition: all 1s;
    /* opacity: 0.5; */
}

.remove-left-now{
   display: none;
}

.pre-loader-right{ 
    position: absolute;
    background: rgb(63, 63, 52);
    height: 100vh;
    right: 0;
    width: 50vw;
    z-index: 10000;
    top: 0;
}

.remove-right{
    /* opacity: 0.5; */
    /* margin-left: 100vw; */
    margin-right: -60vw;
    /* transition: right 1s;
    margin-left: -60vw; */
    transition: all 1s;
    /* display: none; */
    /* transition: display 2s; */
}

.preloader-right-img{
    position: absolute;
    left: 0% !important;
    height: 200px;
    width: 200px;
    top: 30%;
}